html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    background-color: #f2f3f5;
}

.layui-input {
    width: 500px;
}

.layui-card-header {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
}